/* RESET E BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 800;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #003d40, #002a2b);
  color: white;
}

/* CABEÇALHO */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #007299;
  padding: 10px 20px;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 60px;
  width: auto;
  filter: contrast(120%) saturate(250%) brightness(130%);
}

header nav {
  display: flex;
  gap: 10px;
}

header nav button {
  background: #005f80;
  border: none;
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

header nav button:hover {
  background: #0099cc;
}

/* MAIN CENTRALIZADO */
main {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 40px 20px ;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  max-width: 1000px;
}

.titulo {
  text-align: center;
}

.titulo h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.titulo p {
  font-size: 16px;
  color: #cce6ff;
}

/* RESERVAS */
.reserva {
  background: #005f99;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
  margin-bottom: 10px;
}

.reserva h3 {
  margin-bottom: 10px;
}

.reserva p {
  margin: 5px 0;
  color: #e0f7ff;
}

p.data-pedido {
  font-style: italic;
  color: #a8d8ff;
}


.cancelar-btn {
  background-color: #cc3f3f;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
}

.cancelar-btn:hover {
  background-color: #ff4d4d;
}

/* RODAPÉ */
footer {
  background: linear-gradient(to bottom, #003032, #002a2b);
  padding: 20px;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}

.footer-col {
  text-align: center;
  margin-bottom: 20px;
  flex: 1;
  min-width: 200px;
}

.footer-col h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-col p,
.footer-col a {
  color: #cce6ff;
  text-decoration: none;
  font-size: 14px;
}

.footer-col a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.social-icons img {
  width: 30px;
  transition: transform 0.3s;
}

.social-icons img:hover {
  transform: scale(1.1);
}

/* RESPONSIVO */
@media (max-width: 600px) {
  .reserva {
    max-width: 90%;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  header {
    flex-direction: column;
    text-align: center;
  }

  header nav {
    margin-top: 10px;
  }
}
